@media (max-width: 1140px) {

}

@media (max-width: 1024px) {
  .header {
    width: 90%;
  }
  #hero .hero--ellipse__img {
    display: none;
  }
  #hero .hero--ellipse__academy {
    position: absolute;
    top: 140px;
    left: 70px;
  }
  #video .day--block__november {
    width: 1000px;
    margin-right: 115px;
  }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}

@media (max-width: 451px) {

}

@media (max-width: 425px) {

}

@media (max-width: 400px) {
}

@media (max-width: 375px) {

}

@media (max-width: 320px) {

}





